<div data-role="list">
  <h3><%= list.title %></h3>

  <%= render "cards/form", card: list.cards.new %>

  <div data-role="cards-container" data-list-id="<%= list.id %>">
    <%= render list.cards %>
  </div>
</div>
