<div class="lists-_list clearfix">

<h1 class="list-title"><%= list.title %>:</h1>
<div class="cards-container clearfix"
     data-role="cards-container"
     data-list-id="<%= list.id %>">
  <%= render list.cards.unarchived, list_class: list_class %>
</div>

</div>
