<div class="list-container clearfix" data-role="list">
  <h2 class="list-title" data-role="list-title"><%= list.title %></h2>
  <div class="cards-container clearfix" data-role="cards-container" data-list-id="<%= list.id %>">
    <%= render list.cards.unarchived %>
  </div>
</div>
