<div class="header_actions-create_board clearfix">

<a class="create-board-full" href="#new" data-ux-new-board>
  <%= t(".create_board_full") %>
</a>
<a class="create-board-short" href="#new" data-ux-new-board>
  <%= t(".create_board_short") %>
</a>

</div>
