<div class="header_actions-create_board clearfix">

  <a class="create-card-full" href="#new" data-ux-new-card>
    <%= t(".create_card_full") %>
  </a>
  <a class="create-card-short" href="#new" data-ux-new-card>
    <%= t(".create_card_short") %>
  </a>

</div>
