<div class="comments-container clearfix" data-role="comment">
  <p class="comment-author"><%= comment.user.email %>:</p>
  <div class="comment-text-container markdown-body"><%= markdown(comment.text) %></div>
</div>
