<div data-role="comment" class="comment-container clearfix">
  <div class="comment-header clearfix">
    <p class="comment-author"><%= comment.user.first_name %></p>
  </div>
  <div class="comment-body clearfix">
    <%= best_in_place [comment.card, comment], :text, display_with: -> (text) { comment_markdown(text) } %>
  </div>
</div>
