<div class="comments-_form clearfix">

<%= form_for [card, comment], html: { class: 'comment-form clearfix' } do |f| %>
  <%= f.text_area :text, placeholder: t(".placeholder"), class: 'comment-text' %>
  <button class="submit-comment" type="submit"><%= t('.submit') %></button>
<% end %>

</div>
