<% if @card.description.present? %>
  <p><%= email_markdown(@card.description) %></p>
<% else %>
  <p>Created <%= @card.id %>.</p>
<% end %>


<p>&ndash;</p>
<p>
  <%= link_to "See this card on Catchup", board_card_url(@board, @card) %>
  to reply.
</p>
