<%= form_for @user do |f| %>
  <p><%= t(".slogan", boards_path: boards_path).html_safe %></p>
  <%= f.text_field :email, placeholder: t(".email-placeholder") %>
  <%= f.submit t(".login") %>
<% end %>
