<header class="welcome-header clearfix">
  <img class="image catchup-logo" src="https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/logo.svg">
  <h1 class="slogan">Simple flow meets rich feedback.</h1>
  <a class="signin-link" href="/auth/github">Sign in here if you are already a user</a>
</header>

<section class="signup-section clearfix">
  <h1 class="signup-title">Would you like to give it a try?</h1>
  <a class="signup-button" target="_blank" href="/auth/github">Sign up with GitHub</a>
  <p class="signup-text">We're letting you in, although you should note that Catchup is in early stages.<br>We use it every day ourselves and <a href="mailto:info@catchup.io">we would like to hear</a> anything you would like to say about the service.</p>
</section>

<section class="tutorial clearfix">
  <h1 class="tutorial-title">All you have to know is below in 7 quick steps:</h1>
  <div class="tutorial-step clearfix">
    <h2 class="video-title">1. Sign up with GitHub</h2>
    <img class="image tutorial-video" src="https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/placeholder.gif">
  </div>
  <div class="tutorial-step clearfix">
    <h2 class="video-title">2. Create a Catchup board for one of your repositories</h2>
    <img class="image tutorial-video" src="https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/placeholder.gif">
  </div>
  <div class="tutorial-step clearfix">
    <h2 class="video-title">3. Link to your Heroku app</h2>
    <img class="image tutorial-video" src="https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/placeholder.gif">
  </div>
  <div class="tutorial-step clearfix">
    <h2 class="video-title">4. Add to-dos using Markdown, prioritize with drag & drop</h2>
    <img class="image tutorial-video" src="https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/placeholder.gif">
  </div>
  <div class="tutorial-step clearfix">
    <h2 class="video-title">5. Work with unique branches and create pull requests on GitHub</h2>
    <img class="image tutorial-video" src="https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/placeholder.gif">
  </div>
  <div class="tutorial-step clearfix">
    <h2 class="video-title">6. Review and share production-like apps on Heroku for each branch</h2>
    <img class="image tutorial-video" src="https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/placeholder.gif">
  </div>
  <div class="tutorial-step clearfix">
    <h2 class="video-title">7. Ship features fast with a single click!</h2>
    <img class="image tutorial-video" src="https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/placeholder.gif">
  </div>
</section>

<section class="signup-section clearfix">
  <h1 class="signup-title">Ready to give it a try?</h1>
  <a class="signup-button" target="_blank" href="/auth/github">Sign up with GitHub</a>
  <p class="signup-text">We're letting you in, although you should note that Catchup is in early stages.<br>We use it every day ourselves and <a href="mailto:info@catchup.io">we would like to hear</a> anything you would like to say about the service.</p>
</section>

<section class="newsletter-section clearfix">
  <h1 class="newsletter-title">Would you like to know about new features?</h1>
  <a class="subscribe-button" target="_blank" href="http://eepurl.com/bkMO59">Subscribe to newsletter</a>
  <p class="newsletter-text">We will e-mail you only we have something really interesting to share.<br>We promise you won't get any spam from us, ever!</p>
</section>

<% unless Rails.env.test? %>
<script>
$.post(
  "<%= Forwarder::URLHelpers.store_redirect_url %>",
  { redirect_url: "<%= auth_github_callback_url %>" }
)
</script>
<% end %>
