<div class="applinks-_heroku_form clearfix">

<article class="app-link clearfix">
  <header class="heroku-app-header clearfix">
    <h3 class="heroku-app-title"><%= app.name %></h3>
  </header>
  <form class="heroku-app-form clearfix">
    <button class="submit">Link to board</button>
  </form>
</article>

</div>
