<p><%= t("boards.create.suggest").html_safe %></p>

<%= form_for board do |f| %>
  <%= f.text_field :title, placeholder: t("boards.create.title-placeholder") %>
  <%= f.submit t("boards.create.submit") %>
<% end %>
