<div class="boards-_header_action clearfix">

<a class="new-board full" href="#new-boards-section" data-ux-new-board>
  <%= t(".new_board_button_label_full") %>
</a>
<a class="new-board short" href="#new-boards-section" data-ux-new-board>
  <%= t(".new_board_button_label_short") %>
</a>

</div>
