<div class="boards-_new_boards clearfix">

<section class="new-boards-section clearfix" id="new-boards-section">
  <h2 class="section-title"><%= t(".title") %></h2>
  <div class="boards-container clearfix">
    <%= render partial: "boards/form",
               collection: boards, as: :board,
               spacer_template: "separator" %>
  </div>
</section>

</div>
