<header class="boards-header clearfix">
  <h1 class="greeting">
    <%= t('.greeting', name: current_user.first_name).html_safe %>
  </h1>
</header>

<section class="boards-content clearfix">
  <div class="boards-container clearfix">
    <%= render "form", board: Board.new %>
    <%= render @boards %>
  </div>
</section>

<footer class="boards-footer clearfix">
  <div class="text-container clearfix">
    <div class="plain-text">
      <%= t('.tutorial').html_safe %>
    </div>
  </div>
</footer>
