<div data-role="board" data-board-id="<%= @board.id %>" class="board">
  <h1><%= @board.title %></h1>

  <%= render "cards/form", card: Card.new, board: @board %>

  <div class="board-lists">
    <%= render @board.lists %>
  </div>
</div>
