<div class="board clearfix" data-role="board" data-board-id="<%= @board.id %>">
  <div class="board-header clearfix">
    <h1 class="title"><%= @board.title %></h1>
    <%= render "cards/form", card: Card.new, board: @board %>
  </div>
  <div class="container clearfix">
    <%= render @board.lists %>
  </div>
</div>
