<!-- TODO: @as-cii: same issue: `form_for` vs `<form>` tag. -->
<%= form_for [board, card], html: { class: "create-board clearfix" } do %>
  <input class="card-name" name="card[title]" placeholder="type here to create a new card…" type="text">
  <button class="create" type="submit">Create<br></button>
<% end %>
