<div class="cards-_form clearfix">

<%= form_for [board, card], html: { class: 'card-form clearfix' } do |f| %>
  <button class="cancel-create-card" type="button" data-ux-cancel-create-card>close</button>
  <%= f.text_field :title, class: "card-title",
                    placeholder: t(".title-placeholder") %>
  <%= f.text_area :description, class: "card-description",
                   placeholder: t(".description-placeholder") %>
  <%= button_tag t(".submit"), class: 'create-card' %>
<% end %>

</div>
