<div class="boards-_header_action clearfix">

<a class="create-board full" href="#create-board-section" data-ux-create-board> <%= t(".create_board_full") %> </a>
<a class="create-board short" href="#create-board-section" data-ux-create-board> <%= t(".create_board_short") %> </a>

</div>
