<div class="no-boards-container clearfix">
  <%= render "no_boards" %>
</div>

<div class="create-board-container clearfix">
  <%= render "create_board", boards: @boards %>
</div>

<div class="all-boards-container clearfix">
  <%= render "all_boards", boards: @boards %>
</div>
