body {
  background-color: rgb(255, 255, 255);
  font: 400 1.75em/1.38 Helvetica;
  color: rgb(87, 185, 164);
}

.board-list {
  float: left;
  clear: both;
  width: 100%;
  height: 306px;
  margin-top: 78px;
}

.board-name {
  display: block;
  float: left;
  width: 368px;
  height: 58px;
  margin-left: 34.66667%;
  padding: 0 10px;
  border-bottom: 1px solid rgb(87, 185, 164);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(87, 185, 164);
}

.board-name:active,
.board-name:focus,
.board-name:hover {
  bottom: auto;
  right: auto;
  margin-right: 0;
}

.create-board {
  float: left;
  clear: both;
  width: 100%;
  height: 230px;
  margin-top: 189px;
  background-color: rgb(255, 255, 255);
}

.form-fields {
  float: left;
  width: 100%;
  height: 121px;
}

.form-title {
  float: left;
  width: 100%;
  margin-top: -84px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(87, 185, 164);
}

.goto-board {
  display: block;
  float: left;
  width: 65.3333333333%;
  height: 80px;
  margin-top: 22px;
  padding-top: 21px;
  border-radius: 3px;
  background-color: rgb(87, 185, 164);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.goto-boards {
  display: inline-block;
  float: left;
  margin-left: 24px;
  font-size: 0.786em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.greeting {
  display: inline-block;
  float: right;
  margin-right: 24px;
  font-size: 0.786em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.info-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 30px;
  margin: auto 0;
}

.sign-in {
  display: block;
  float: left;
  clear: both;
  width: 218px;
  height: 36px;
  margin: 27px 0 0 40.91667%;
  border-radius: 3px;
  background-color: rgb(87, 185, 164);
  font-size: 0.571em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.title {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 90px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(87, 185, 164);
}

._container {
  width: 100%;
}

.goto-board-1 {
  margin-left: 17.33073%;
}

.goto-board-2 {
  clear: both;
  margin-left: 17.35938%;
}

.goto-board-3 {
  clear: both;
  margin-left: 17.33073%;
}

._container-1 {
  position: relative;
  float: left;
  height: 60px;
  background-color: rgb(87, 185, 164);
}

._container-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 13;
  height: 30px;
  margin: auto 0;
}

.form-title a,
.title a {
  font-weight: inherit;
  color: inherit;
}

.form-title a:active,
.form-title a:focus,
.form-title a:hover,
.title a:active,
.title a:focus,
.title a:hover {
  color: inherit;
}

.form-title strong,
.greeting strong,
.title strong {
  font-weight: 700;
}

.goto-boards strong {
  font-weight: inherit;
}