header {
  $header-background-color: $dark-gray;
  $header-link-color: white;

  @include clearfix;

  @include padding(0 2em 0 1em);

  background-color: $header-background-color;

  nav {
    float: left;

    a, a:hover, a:active, a:focus {
      display: inline-block;
      @include padding(1em 0 1em 0);

      color: $header-link-color;
      font-weight: bold;
    }
  }

  div.header-right {
    float: right;
    display: inline-block;

    @include padding(0.5em null null null);

    h1 {
      color: $medium-gray;
      font-size: $base-font-size;
    }

    input[type=text] {
      float: left;

      @include size(300px auto);
      @include margin(null 1em null null);
    }
  }
}

div.board-lists {
  @include outer-container;
}

div.list {
  @include span-columns(4);

  background-color: $light-gray;
}

div.card {
  background-color: $medium-gray;
}
