body {
  font: 100 1em/1.48 'Source Sans Pro';
  color: rgb(17, 17, 17);
}

.__fix__-body-reset {
  background-color: rgb(255, 255, 255);
  font-family: Roboto;
  line-height: 3.38;
  color: rgb(0, 0, 0);
}

.application-_flashes {
  background-color: #ffffff;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.application-_footer {
  font-weight: 400;
  color: rgb(170, 170, 170);
}

.application-_header,
.avatars-_avatar,
.boards-index,
.boards-show {
  background-color: rgb(255, 255, 255);
}

.boards-_board,
.boards-_settings,
.markdown {
  font-weight: 300;
  color: rgb(17, 17, 17);
}

.boards-_form,
.welcome-index {
  background-color: rgb(255, 255, 255);
  font-weight: 300;
  color: rgb(17, 17, 17);
}

.applinks-_heroku_form,
.applinks-index,
.boards-_linked_boards,
.boards-_new_boards,
.boards-_no_boards {
  background-color: rgb(255, 255, 255);
  font-weight: 900;
  line-height: 1.38;
  color: rgb(17, 17, 17);
}

.cards-_card {
  font-weight: 700;
  line-height: 1.38;
  color: rgb(17, 17, 17);
}

.cards-_form {
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.cards-show {
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.38;
  color: rgb(17, 17, 17);
}

.comments-_comment {
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.38;
  color: rgb(221, 221, 221);
}

.cards-_inline_form,
.comments-_form,
.comments-_inline_form,
.header_actions-create_review {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.lists-_list {
  background-color: rgb(255, 255, 255);
  font-weight: 900;
  line-height: 1.38;
  color: rgb(221, 221, 221);
}

.alert {
  clear: both;
  background-color: rgb(255, 133, 27);
}

.and {
  float: left;
  margin: 14px 0 0 35px;
  text-shadow: 0 1px 1px rgb(255, 255, 255);
  font-style: italic;
  font-size: 3em;
  font-weight: 200;
  line-height: 1.38;
  color: rgb(170, 170, 170);
}

.archive-card {
  display: block;
  float: right;
  border-radius: 3px;
  font-size: 1.125em;
  line-height: 1.38;
  text-align: left;
  text-decoration: underline;
  word-spacing: 2px;
  color: rgb(0, 116, 217);
}

.archive-card-form {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 4px;
}

.avatar {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: auto 0;
  overflow: hidden;
}

.avatar-container {
  position: relative;
  float: left;
  margin: 4px 0 0 4px;
  overflow: hidden;
}

.avatars-container {
  float: left;
  width: 100%;
  margin: -4px 0 0 -4px;
}

.avatars-container .placeholder__users-_avatar {
  width: 48px;
  height: 48px;
  background-color: rgb(221, 221, 221);
}

.app-link,
.board-card,
.new-board-card {
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.board-card-header .board-title {
  margin-left: 8px;
  font-size: 1.875em;
  font-weight: 900;
  text-decoration: underline;
  color: rgb(0, 116, 217);
}

.board-description {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 8px;
  font-size: 1.125em;
  word-spacing: 2px;
  color: rgb(17, 17, 17);
}

.board-description-container {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 8px;
  overflow: auto;
}

.board-description-container .placeholder__markdown {
  height: 60px;
}

.board-info .board-title {
  display: block;
  width: 100%;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: underline;
  color: rgb(0, 116, 217);
}

.board-settings-section {
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 -1px 3px rgb(170, 170, 170) inset;
}

.board-title {
  position: relative;
  float: left;
  line-height: 1.38;
}

.boards-container,
.heroku-apps-container,
.personal-board-settings-section {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 60px;
}

.body-reset-as {
  float: left;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.body-reset-aa,
.body-reset-ab,
.body-reset-ac,
.body-reset-ad,
.body-reset-ae,
.body-reset-af,
.body-reset-ag,
.body-reset-ah,
.body-reset-ai,
.body-reset-aj,
.body-reset-ak,
.body-reset-al,
.body-reset-am,
.body-reset-an,
.body-reset-ao,
.body-reset-ap,
.body-reset-ar,
.body-reset-at,
.body-reset-au,
.body-reset-av,
.body-reset-ay,
.body-reset-az,
.body-reset-ba,
.body-reset-bb,
.body-reset-bc,
.body-reset-bd,
.body-reset-be,
.body-reset-bf,
.body-reset-bg,
.body-reset-bh {
  float: left;
  clear: both;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.brought-by {
  float: left;
  width: 100%;
  text-shadow: 0 1px 1px rgb(255, 255, 255);
  font-style: italic;
  font-size: 1.125em;
  text-align: center;
  word-spacing: 2px;
  color: rgb(170, 170, 170);
}

.cancel-create-card {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin: 32px 0 0 -8.85417%;
  border-radius: 3px;
  background-image: url('https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  font: 400 1em/1.38 Helvetica;
  text-align: left;
  text-indent: -9999px;
  color: rgb(0, 0, 0);
}

.cancel-update-card {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin: 32px 0 0 -8.95671%;
  border-radius: 3px;
  background-image: url('https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  font: 400 1em/1.38 Helvetica;
  text-align: left;
  text-indent: -9999px;
  color: rgb(0, 0, 0);
}

.cancel-update-comment {
  display: block;
  position: relative;
  float: right;
  clear: both;
  width: 82px;
  height: 48px;
  margin: 8px 163px 0 0;
  padding: 12px;
  border-radius: 3px;
  background-color: rgb(221, 221, 221);
  box-shadow: 0 3px 0 rgb(170, 170, 170);
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  font-size: 1.125em;
  text-align: center;
  word-spacing: 2px;
  color: hsl(0, 0%, 47%);
}

.card-description {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  height: 220px;
  margin-top: 8px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgb(170, 170, 170) inset;
  font-size: 1.125em;
  font-weight: 300;
  word-spacing: 2px;
  color: rgb(17, 17, 17);
  resize: vertical;
}

.card-description-container {
  float: left;
  clear: both;
  width: 100%;
  max-height: 320px;
  margin-top: 8px;
  overflow: auto;
}

.card-description-container .placeholder__markdown {
  height: 500px;
}

.card-form .card-title {
  display: block;
  margin-top: 20px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgb(170, 170, 170) inset;
  font-weight: 700;
  word-spacing: 2px;
}

.card-info .card-title {
}

.card-title {
  position: relative;
  float: left;
  width: 100%;
  font-size: 1.5em;
  line-height: 1.38;
  color: rgb(17, 17, 17);
}

.card-wrapper {
  display: block;
  float: left;
  width: 78%;
  margin-left: 12%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.cards-container {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.catchup-logo {
  width: 52.8333333333%;
  margin-left: 23.58073%;
}

.close-board-settings {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin-left: -8.95996%;
  border-radius: 3px;
  background-image: url('https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  font: 400 1em/1.38 Helvetica;
  text-align: left;
  text-indent: -9999px;
  color: rgb(0, 0, 0);
}

.comment {
  float: left;
  width: 80%;
  margin: 64px 0 0 10%;
}

.comment-author {
  float: left;
  width: 36px;
  height: 36px;
  margin: -36px 0 0 -48px;
}

.comment-author .placeholder__users-_avatar {
  position: relative;
  width: 100%;
  height: 36px;
  margin: 4px 0 0 4px;
  background-color: rgb(170, 170, 170);
  overflow: hidden;
}

.comment-body {
  position: relative;
  float: left;
  width: 100%;
  padding: 4px 12px 12px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgb(170, 170, 170);
  overflow: visible;
}

.comment-body .placeholder__markdown {
  height: 200px;
  margin-top: 1px;
}

.board-card-header,
.comment-form {
  float: left;
  width: 80%;
  margin-left: 10%;
}

.comment-form-container {
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(246, 246, 246);
}

.comment-text {
  display: block;
  float: left;
  width: 100%;
  height: 220px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgb(170, 170, 170) inset;
  font-size: 1.125em;
  font-weight: 300;
  word-spacing: 2px;
  color: rgb(17, 17, 17);
  resize: vertical;
}

.comment-title {
  position: relative;
  float: left;
  margin-top: -30px;
  font-size: 1.25em;
  line-height: 1.38;
  color: rgb(221, 221, 221);
}

.board-header-section,
.card-header-section,
.comments-container {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy-branch-name {
  display: block;
  float: right;
  clear: both;
  margin-top: 12px;
  border-radius: 3px;
  font-size: 1.125em;
  line-height: 1.38;
  text-align: left;
  text-decoration: underline;
  word-spacing: 2px;
  color: rgb(0, 116, 217);
}

.copy-view-app-link {
  display: block;
  position: relative;
  float: left;
  margin-left: 4px;
  border-radius: 3px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  text-decoration: underline;
  word-spacing: 2px;
  color: rgb(0, 116, 217);
}

.create-board-full,
.create-card-full {
  display: block;
  float: right;
  height: 36px;
  padding: 5px 12px;
  border-radius: 3px;
  background-color: rgb(46, 204, 64);
  box-shadow: 0 3px 0 rgb(27, 121, 38);
  text-shadow: 0 -1px 0 rgb(27, 121, 38);
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.create-board-short,
.create-card-short {
  display: none;
  float: right;
  clear: both;
  height: 36px;
  padding: 5px 12px;
  border-radius: 3px;
  background-color: rgb(46, 204, 64);
  box-shadow: 0 3px 0 rgb(27, 121, 38);
  text-shadow: 0 -1px 0 rgb(27, 121, 38);
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.create-card {
  display: block;
  float: right;
  clear: both;
  width: 144px;
  height: 48px;
  margin-top: 8px;
  padding: 12px;
  border-radius: 3px;
  background-color: rgb(46, 204, 64);
  box-shadow: 0 3px 0 rgb(27, 121, 38);
  text-shadow: 0 -1px 0 rgb(27, 121, 38);
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.create-card-section,
.edit-card-section {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 -1px 3px rgb(170, 170, 170) inset;
}

.create-review-app {
  display: block;
  float: right;
  height: 36px;
  padding: 5px 12px;
  border-radius: 3px;
  background-color: rgb(255, 133, 27);
  box-shadow: 0 3px 0 rgb(180, 84, 0);
  text-shadow: 0 -1px 0 rgb(180, 84, 0);
  font-size: 1.125em;
  text-align: center;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.create-review-form-short {
  display: none;
  float: left;
  clear: both;
  width: 100%;
}

.dismiss {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background-image: url('https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/flash-dismiss.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font: 400 1em/1.38 Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.doing-card-title {
  float: left;
  clear: both;
  width: 100%;
  max-height: 54px;
  padding-left: 8px;
  border-left: 3px solid rgb(46, 204, 64);
  font-size: 1.25em;
  line-height: 1.38;
  color: rgb(17, 17, 17);
  overflow: hidden;
}

.edit-card,
.open-pr-on-github {
  display: block;
  float: right;
  clear: both;
  margin-top: 4px;
  border-radius: 3px;
  font-size: 1.125em;
  line-height: 1.38;
  text-decoration: underline;
  word-spacing: 2px;
  color: rgb(0, 116, 217);
}

.board-settings-container,
.card-form,
.edit-card-form {
  position: relative;
  float: left;
  width: 80%;
  margin-left: 10%;
}

.edit-card-form .card-title {
  display: block;
  margin-top: 20px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgb(170, 170, 170) inset;
  word-spacing: 2px;
}

.edit-comment {
  display: block;
  float: right;
  clear: both;
  border-radius: 3px;
  font-size: 1.25em;
  line-height: 1.38;
  text-align: center;
  text-decoration: underline;
  word-spacing: 2px;
  color: rgb(246, 246, 246);
}

.edit-comment:hover {
  color: rgb(0, 116, 217);
}

.error {
  clear: both;
  background-color: rgb(255, 65, 54);
}

.extra-large {
  width: 144px;
  height: 144px;
}

.flash {
  float: left;
  width: 100%;
  min-height: 64px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.flash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.founder-ali {
  display: block;
  float: left;
  width: 96px;
  height: 96px;
  margin: -4px 0 0 28px;
}

.founder-ali .placeholder__users-_avatar,
.founder-antonio .placeholder__users-_avatar {
  width: 96px;
  height: 96px;
  margin: 4px 0 0 4px;
  background-color: rgb(170, 170, 170);
}

.founder-antonio {
  display: block;
  float: left;
  width: 96px;
  height: 96px;
  margin: -4px 0 0 -4px;
}

.founders {
  position: absolute;
  top: 168px;
  left: 0;
  right: 0;
  width: 278px;
  height: 96px;
  margin: 0 auto;
}

.go-back-to-board,
.go-back-to-boards {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  margin: 6px 0 0 -32px;
  background-image: url('https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/go-back.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  font: 400 1em/1.38 Helvetica;
  color: rgba(0, 0, 0, 0);
}

.heroku-app-header {
  float: left;
  width: 59.5833333333%;
  margin: 4px 0 0 10%;
}

.heroku-app-title {
  float: left;
  font-size: 1.875em;
  line-height: 1.38;
  color: rgb(17, 17, 17);
}

.heroku-link-status-linked,
.team-board-heroku-link-description {
  float: left;
  clear: both;
  width: 100%;
  font-size: 1.125em;
  word-spacing: 2px;
  color: rgb(17, 17, 17);
}

.heroku-link-status-not-linked {
  float: left;
  width: 100%;
  font-size: 1.125em;
  font-weight: 600;
  word-spacing: 2px;
  color: rgb(17, 17, 17);
}

.huge {
  width: 288px;
  height: 288px;
}

.huge .avatar {
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.card-title-container,
.create-review-form-full,
.heroku-link-status-wrapper,
.inline-comment-form,
.no-boards-container,
.personal-board-settings-header,
.shipit-form,
.team-board-settings-header,
.team-board-settings-section {
  float: left;
  width: 100%;
}

.italian-flag {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 18px;
}

.italian-flag-green {
  float: left;
  width: 33.3294270833%;
  height: 17px;
  background-color: rgb(0, 146, 70);
}

.italian-flag-red {
  float: left;
  width: 33.3294270833%;
  height: 17px;
  background-color: rgb(206, 43, 55);
}

.italian-flag-white {
  float: left;
  width: 33.3294270833%;
  height: 17px;
  background-color: rgb(255, 255, 255);
}

.large {
  width: 96px;
  height: 96px;
}

.large .avatar {
}

.link-to-heroku {
  display: block;
  float: left;
  clear: both;
  width: 226px;
  height: 48px;
  margin-top: 8px;
  padding: 12px;
  border-radius: 3px;
  background-color: rgb(0, 116, 217);
  box-shadow: 0 3px 0 rgb(0, 31, 63);
  text-shadow: 0 -1px 0 rgb(0, 31, 63);
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.comments-wrapper,
.linked-boards-container,
.new-boards-container {
  float: left;
  clear: both;
  width: 100%;
}

.list-title {
  float: left;
  margin-left: 10%;
  font-size: 2.25em;
  line-height: 1.38;
  color: rgb(221, 221, 221);
}

.made-in {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 202px;
  text-shadow: 0 1px 1px rgb(255, 255, 255);
  font-style: italic;
  font-size: 1.125em;
  text-align: center;
  word-spacing: 2px;
  color: rgb(170, 170, 170);
}

.main-action-container {
  float: right;
  width: 28.7499999999%;
  margin: 8px 10% 0 0;
}

.md-block-code {
  float: left;
  clear: both;
  width: 90%;
  margin: 8px 0 0 5%;
  padding: 12px;
  border-width: 1px 1px 1px 8px;
  border-color: rgb(221, 221, 221);
  border-style: solid;
  border-radius: 3px;
  font-family: DroidSansMono;
  font-size: 0.875em;
  font-weight: normal;
  word-spacing: 2px;
  color: rgb(68, 68, 68);
  overflow: auto;
  word-break: normal;
  white-space: pre;
}

.md-block-quote {
  float: left;
  clear: both;
  width: 95%;
  margin: 8px 0 0 5%;
  padding-left: 18px;
  border-left: 4px solid rgb(221, 221, 221);
  font-size: 1.125em;
  word-spacing: 2px;
  color: rgb(17, 17, 17);
}

.md-list-item-ordered,
.md-list-item-unordered {
  float: left;
  width: 95%;
  margin: 4px 0 0 5%;
  font-size: 1.125em;
  word-spacing: 2px;
  color: rgb(17, 17, 17);
}

.md-list-ordered,
.md-list-unordered {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 8px;
}

.md-text {
  float: left;
  width: 100%;
  margin-top: 8px;
  font-size: 1.125em;
  word-spacing: 2px;
  color: rgb(17, 17, 17);
}

.medium {
  width: 64px;
  height: 64px;
}

.medium .avatar {
}

.message {
  float: left;
  width: 81.081081081%;
  margin: 3px 0 0 6.07052%;
  font-size: 1.125em;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.board-info,
.card-info,
.new-board-card-header {
  float: left;
  width: 59.5833333333%;
  margin-left: 10%;
}

.new-board-card-header .board-title {
  margin-left: 8px;
  font-size: 1.875em;
  font-weight: 900;
  color: rgb(17, 17, 17);
}

.board-actions,
.card-actions,
.heroku-app-form,
.new-board-form {
  float: left;
  width: 18.8333333333%;
  margin-left: 1.58073%;
}

.heroku-app-form .submit,
.new-board-form .submit {
  width: 100%;
}

.new-boards-section {
  float: left;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgb(255, 220, 0);
}

.newsletter-section {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.newsletter-text,
.signup-text {
  float: left;
  clear: both;
  width: 80%;
  margin: 30px 0 0 10%;
  font-size: 1em;
  text-align: center;
  word-spacing: 2px;
  color: rgb(17, 17, 17);
}

.newsletter-title {
  float: left;
  width: 80%;
  margin-left: 10%;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  color: rgb(17, 17, 17);
}

.applinks-section,
.linked-boards-section,
.no-boards-section {
  float: left;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.notice {
  clear: both;
  background-color: rgb(57, 204, 204);
}

.open-board-settings {
  display: block;
  float: right;
  border-radius: 3px;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.38;
  text-decoration: underline;
  word-spacing: 2px;
  color: rgb(0, 116, 217);
}

.open-in-github {
  display: block;
  position: relative;
  float: left;
  width: 22px;
  height: 22px;
  margin-top: 10px;
  background-image: url('https://cdn.rawgit.com/catchup/catchup-web-assets/6fb5f5c68cfb11e5eb29169de6a5f26d1950b839/github-small-black.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgba(0, 0, 0, 0);
}

.open-review-app {
  display: none;
  float: left;
  clear: both;
  width: 90%;
  margin-left: 5%;
  font-size: 1.063em;
  font-weight: 600;
  line-height: 1.38;
  text-align: center;
  text-decoration: underline;
  word-spacing: 2px;
  color: rgb(0, 116, 217);
}

.open-view-app {
  display: block;
  position: relative;
  float: left;
  margin: 4px 0 0 8px;
  font-size: 1.25em;
  line-height: 1.38;
  text-decoration: underline;
  word-spacing: 2px;
  color: rgb(0, 116, 217);
}

.personal-board-notifications,
.team-board-heroku-link {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 30px;
}

.personal-board-notifications-form {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 10px;
}

.personal-board-notifications-form .submit {
  clear: both;
  width: 144px;
  margin-top: 20px;
}

.personal-board-notifications-title,
.team-board-heroku-link-title {
  float: left;
  width: 100%;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(17, 17, 17);
}

.personal-board-settings-description,
.team-board-settings-description {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 8px;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(17, 17, 17);
}

.personal-board-settings-title,
.team-board-settings-title {
  float: left;
  width: 100%;
  border-bottom: 3px solid rgb(0, 0, 0);
  font-size: 2.25em;
  font-weight: 900;
  line-height: 1.38;
  color: rgb(17, 17, 17);
}

.placeholder__applinks-_heroku_form,
.placeholder__boards-_board,
.placeholder__boards-_form {
  float: left;
  width: 80%;
  height: 100px;
  margin-left: 10%;
  background-color: rgb(222, 222, 222);
}

.placeholder__boards-_linked_boards,
.placeholder__boards-_new_boards,
.placeholder__boards-_no_boards {
  float: left;
  width: 80%;
  height: 200px;
  margin-left: 9.9987%;
  background-color: rgb(222, 222, 222);
}

.placeholder__boards-_settings {
  float: left;
  width: 100%;
  height: 200px;
  background-color: rgb(170, 170, 170);
}

.placeholder__button {
  float: left;
  width: 100%;
  height: 36px;
  background-color: rgb(222, 222, 222);
}

.placeholder__cards-_card {
  float: left;
  width: 80%;
  height: 40px;
  margin-left: 10%;
  background-color: rgb(170, 170, 170);
}

.placeholder__cards-_form,
.placeholder__cards-_inline_form {
  float: left;
  width: 80%;
  height: 200px;
  margin-left: 10%;
  background-color: rgb(170, 170, 170);
}

.placeholder__comments-_comment,
.placeholder__comments-_form,
.placeholder__lists-_list {
  float: left;
  width: 80%;
  height: 100px;
  margin-left: 10%;
  background-color: rgb(170, 170, 170);
}

.placeholder__comments-_inline_form {
  float: left;
  clear: both;
  width: 100%;
  height: 120px;
  background-color: rgb(170, 170, 170);
}

.placeholder__logo {
  float: left;
  width: 48px;
  height: 48px;
  margin: 4px 0 0 2%;
  background-color: rgb(222, 222, 222);
}

.placeholder__markdown {
  float: left;
  width: 100%;
  background-color: rgb(170, 170, 170);
}

.placeholder__users-_avatar {
  float: left;
}

.receive-notifications-checkbox {
  display: block;
  float: left;
  margin-top: 6px;
}

.receive-notifications-label {
  display: block;
  float: left;
  width: 100%;
}

.receive-notifications-text {
  display: block;
  float: left;
  margin-left: 6px;
  font-size: 1.125em;
  word-spacing: 2px;
  color: rgb(17, 17, 17);
}

.review-app-label {
  position: relative;
  float: left;
  margin: 4px 0 0 10%;
  font-size: 1.25em;
  line-height: 1.38;
  word-spacing: 2px;
  color: rgb(17, 17, 17);
}

.review-app-section {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 14px;
  border-bottom: 3px solid rgb(255, 133, 27);
  background-color: rgb(255, 220, 0);
}

.review-card-title {
  float: left;
  width: 100%;
  max-height: 54px;
  padding-left: 8px;
  border-left: 3px solid rgb(255, 133, 27);
  font-size: 1.25em;
  line-height: 1.38;
  color: rgb(17, 17, 17);
  overflow: hidden;
}

.section-title {
  float: left;
  width: 80%;
  margin-left: 10%;
  font-size: 2.25em;
  line-height: 1.38;
  text-align: center;
  color: rgb(17, 17, 17);
}

.shipit {
  display: block;
  float: left;
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 3px;
  background-color: rgb(0, 116, 217);
  box-shadow: 0 3px 0 rgb(0, 31, 63);
  text-shadow: 0 -1px 0 rgb(0, 31, 63);
  font-size: 1.125em;
  text-align: center;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.signin-link {
  display: block;
  float: left;
  clear: both;
  width: 80%;
  margin: 20px 0 0 10%;
  font-size: 1.125em;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  word-spacing: 2px;
  color: rgb(0, 116, 217);
}

.signup-button {
  display: block;
  float: left;
  clear: both;
  width: 28.8333333333%;
  height: 48px;
  margin: 10px 0 0 35.58203%;
  padding: 12px;
  border-radius: 3px;
  background-color: rgb(240, 18, 190);
  box-shadow: 0 3px 0 rgb(147, 9, 116);
  text-shadow: 0 -1px 0 rgb(147, 9, 116);
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.signup-section {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(127, 219, 255);
}

.site-footer {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 120px;
  border-top: 3px solid rgb(170, 170, 170);
  background-color: rgb(246, 246, 246);
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid rgb(221, 221, 221);
  background-color: rgb(246, 246, 246);
  box-shadow: 0 1px 3px rgb(170, 170, 170);
}

.slogan {
  float: left;
  clear: both;
  width: 80%;
  margin: 25px 0 0 10%;
  font-size: 3em;
  font-weight: 200;
  line-height: 1.38;
  text-align: center;
  color: rgb(17, 17, 17);
}

.small {
  width: 48px;
  height: 48px;
}

.small .avatar {
}

.submit {
  display: block;
  float: left;
  height: 48px;
  padding: 12px;
  border-radius: 3px;
  background-color: rgb(46, 204, 64);
  box-shadow: 0 3px 0 rgb(27, 121, 38);
  text-shadow: 0 -1px 0 rgb(27, 121, 38);
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.submit-comment,
.update-card {
  display: block;
  float: right;
  clear: both;
  width: 144px;
  height: 48px;
  margin-top: 8px;
  padding: 12px;
  border-radius: 3px;
  background-color: rgb(46, 204, 64);
  box-shadow: 0 3px 0 rgb(27, 121, 38);
  text-shadow: 0 -1px 0 rgb(27, 121, 38);
  font-size: 1.125em;
  text-align: center;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.subscribe-button {
  display: block;
  float: left;
  clear: both;
  width: 28.8333333333%;
  height: 48px;
  margin: 10px 0 0 35.58203%;
  padding: 12px;
  border-radius: 3px;
  background-color: rgb(46, 204, 64);
  box-shadow: 0 3px 0 rgb(27, 121, 38);
  text-shadow: 0 -1px 0 rgb(27, 121, 38);
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.success {
  background-color: #2ecc40;
}

.team-board-heroku-link-wrapper {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  background-color: rgb(255, 220, 0);
}

.tiny {
  width: 36px;
  height: 36px;
}

.tiny .avatar {
}

.todo-card-title {
  float: left;
  clear: both;
  width: 100%;
  max-height: 54px;
  padding-left: 8px;
  border-left: 3px solid rgb(170, 170, 170);
  font-size: 1.25em;
  line-height: 1.38;
  color: rgb(170, 170, 170);
  overflow: hidden;
}

.doing-list-section,
.review-list-section,
.todo-list-section {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
}

.tutorial {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.tutorial-step {
  float: left;
  clear: both;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.signup-title,
.tutorial-title {
  float: left;
  width: 80%;
  margin-left: 10%;
  font-size: 1.875em;
  font-weight: 900;
  line-height: 1.38;
  text-align: center;
  color: rgb(17, 17, 17);
}

.tutorial-video {
  clear: both;
  width: 53.3333333333%;
  margin: 20px 0 0 23.33203%;
}

.update-comment {
  display: block;
  position: relative;
  float: right;
  clear: both;
  width: 144px;
  height: 48px;
  margin-top: -48px;
  padding: 12px;
  border-radius: 3px;
  background-color: rgb(46, 204, 64);
  box-shadow: 0 3px 0 rgb(27, 121, 38);
  text-shadow: 0 -1px 0 rgb(27, 121, 38);
  font-size: 1.125em;
  text-align: center;
  word-spacing: 2px;
  color: rgb(255, 255, 255);
}

.user-profile {
  float: right;
  clear: both;
  width: 48px;
  margin: -48px 2% 0 0;
}

.video-title {
  float: left;
  width: 80%;
  margin-left: 10%;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  color: rgb(17, 17, 17);
}

.waiting-review-app-message {
  float: left;
  margin-left: 10%;
  font-size: 1.25em;
  line-height: 1.38;
  word-spacing: 2px;
  color: rgb(0, 116, 217);
}

.waiting-review-app-section {
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(0, 116, 217);
  background-color: rgb(127, 219, 255);
}

.welcome-header {
  float: left;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.board-title a,
.md-text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.heroku-link-status-linked strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 600;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.md-block-quote a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: underline;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(0, 116, 217);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.md-block-quote em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: italic;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.md-block-quote span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.md-block-quote strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: Bold;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.md-list-item-ordered a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(0, 116, 217);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.md-list-item-unordered a,
.md-text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: underline;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(0, 116, 217);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.md-list-item-ordered em,
.md-list-item-unordered em,
.md-text em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: italic;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.md-list-item-ordered strong,
.md-list-item-unordered strong,
.md-text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: Bold;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.newsletter-text strong,
.signup-text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 600;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 1024px) {
  .site-header .main-action-container {
    width: 32.421875%;
    margin-right: 9.96094%;
  }

  .site-header .placeholder__logo {
    margin-left: 1.99738%;
  }

  .site-header .user-profile {
    margin-right: 1.99738%;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 1em;
  }

  .board-header-section .board-actions,
  .card-header-section .card-actions {
    width: 25.390625%;
    margin-left: 1.53402%;
  }

  .board-header-section .board-info,
  .card-header-section .card-info {
    width: 52.8645833333%;
    margin-left: 9.99756%;
  }

  .board-info .board-title {
    position: relative;
  }

  .board-settings-container .close-board-settings {
    position: relative;
  }

  .board-settings-container .placeholder__boards-_settings {
    position: relative;
    clear: both;
    width: 99.9009146341%;
    margin-top: -24px;
    margin-left: -0.03052%;
  }

  .board-settings-section .board-settings-container {
    width: 79.9987792968%;
    margin-left: 10.02401%;
  }

  .card-info .card-title {
    position: relative;
  }

  .comment-form-container .placeholder__comments-_form,
  .comments-container .placeholder__comments-_comment,
  .create-card-section .placeholder__cards-_form,
  .doing-list-section .placeholder__lists-_list,
  .edit-card-section .placeholder__cards-_inline_form,
  .review-list-section .placeholder__lists-_list {
    width: 79.9987792968%;
    margin-left: 9.99756%;
  }

  .comments-wrapper .comments-container {
    margin-top: 67px;
  }

  .newsletter-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .newsletter-section .newsletter-text,
  .signup-section .signup-text,
  .welcome-header .signin-link {
    width: 90%;
    margin-left: 4.99878%;
    font-size: 1.063em;
    line-height: 1.38;
  }

  .newsletter-section .newsletter-title {
    width: 90%;
    margin-left: 4.99878%;
    font-size: 1.063em;
    font-weight: 600;
  }

  .newsletter-section .subscribe-button,
  .signup-section .signup-button {
    width: 90%;
    margin-left: 4.99878%;
  }

  .review-app-section .copy-view-app-link {
    position: relative;
  }

  .review-app-section .open-review-app {
    margin-top: 14px;
    margin-left: 119.99919%;
  }

  .review-app-section .open-view-app {
    position: relative;
  }

  .review-app-section .review-app-label {
    position: relative;
    margin-left: 9.99756%;
  }

  .site-header .main-action-container {
    width: 33.984375%;
    margin-right: 15.23234%;
  }

  .site-header .placeholder__logo {
    margin-left: 1.99585%;
  }

  .site-header .user-profile {
    margin-right: 1.99585%;
  }

  .todo-list-section .placeholder__lists-_list {
    width: 79.9987792968%;
    margin-left: 9.99349%;
  }

  .signup-section,
  .tutorial {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .signup-section .signup-title,
  .tutorial .tutorial-title {
    width: 90%;
    margin-left: 4.99878%;
    font-size: 1.25em;
  }

  .tutorial-step .image {
    width: 90%;
    height: auto;
    margin-top: 10px;
    margin-left: 4.99878%;
  }

  .tutorial-step .video-title {
    width: 90%;
    margin-left: 4.99878%;
    font-size: 1.188em;
    font-weight: 600;
  }

  .waiting-review-app-section .waiting-review-app-message {
    margin-left: 9.99756%;
  }

  .tutorial .tutorial-step,
  .welcome-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .welcome-header .image {
    width: 66.9270833333%;
    height: auto;
    margin-left: 16.53646%;
  }

  .welcome-header .slogan {
    width: 90%;
    margin-left: 4.99878%;
    font-size: 1.625em;
    font-weight: 300;
  }
}

@media(max-width: 414px) {
  .app-link .heroku-app-form,
  .new-board-card .new-board-form {
    clear: both;
    width: 90%;
    margin-top: 10px;
    margin-left: 4.99321%;
  }

  .app-link .heroku-app-header {
    width: 90%;
    margin-top: 0;
    margin-left: 4.99321%;
  }

  .archive-card-form .archive-card {
    float: left;
    width: 100%;
    text-align: center;
  }

  .board-actions .open-board-settings,
  .card-actions .edit-card {
    float: left;
    width: 100%;
    text-align: center;
  }

  .board-card-header .board-description {
    margin-top: 11px;
    font-size: 1.063em;
    line-height: 1.38;
  }

  .board-card-header .board-title,
  .new-board-card-header .board-title {
    position: relative;
    margin-left: 4px;
    font-size: 1.25em;
  }

  .board-card-header .open-in-github,
  .new-board-card-header .open-in-github {
    position: relative;
    width: 18px;
    height: 18px;
    margin-top: 6px;
  }

  .board-header-section,
  .card-header-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .board-header-section .board-actions,
  .card-header-section .card-actions {
    clear: both;
    width: 90%;
    margin-top: 20px;
    margin-left: 4.99321%;
  }

  .board-info .board-description-container,
  .card-info .card-description-container {
    margin-top: 4px;
  }

  .board-info .board-title {
    position: relative;
    width: 99.8406441331%;
    font-size: 1.188em;
    font-weight: 600;
  }

  .board-info .go-back-to-boards {
    display: none;
    position: relative;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-left: 0;
  }

  .board-settings-container .close-board-settings {
    position: relative;
  }

  .board-settings-container .placeholder__boards-_settings {
    position: relative;
    width: 99.7552710843%;
    margin-left: -0.17928%;
  }

  .board-settings-section .board-settings-container {
    width: 79.9969806763%;
    margin-left: 10.14493%;
  }

  .card-actions .copy-branch-name {
    display: none;
    position: relative;
  }

  .card-actions .open-pr-on-github {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 12px;
    text-align: center;
  }

  .card-actions .shipit-form {
    margin-left: -0.10484%;
  }

  .card-info .card-title {
    position: relative;
    width: 99.8406441331%;
    font-size: 1.188em;
    font-weight: 600;
  }

  .card-info .go-back-to-board {
    display: none;
    position: relative;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-left: 0;
  }

  .card-title-container .doing-card-title,
  .card-title-container .review-card-title,
  .card-title-container .todo-card-title {
    max-height: 46px;
    font-size: 1.063em;
    font-weight: 600;
  }

  .card-wrapper {
    width: 86.9565217391%;
    margin-left: 7.96347%;
  }

  .comment-form {
    width: 89.9984903381%;
    margin-left: 4.99321%;
  }

  .card-form .card-description,
  .comment-form .comment-text,
  .edit-card-form .card-description,
  .inline-comment-form .comment-text {
    height: 160px;
    font-size: 1.063em;
    line-height: 1.38;
  }

  .comment-form .submit-comment {
    float: left;
    width: 100%;
  }

  .comment-form-container .placeholder__comments-_form,
  .comments-container .placeholder__comments-_comment {
    margin-left: 9.99019%;
  }

  .comments-wrapper .comments-container {
    margin-top: 63px;
  }

  .create-board-full,
  .create-card-full {
    display: none;
    position: relative;
  }

  .create-board-short,
  .create-card-short {
    display: block;
    position: relative;
    clear: none;
  }

  .create-review-form-full {
    display: none;
    position: relative;
  }

  .create-review-form-short {
    display: block;
    position: relative;
    clear: none;
  }

  .doing-list-section .placeholder__lists-_list,
  .review-list-section .placeholder__lists-_list {
    width: 79.9969806763%;
    margin-left: 9.99774%;
  }

  .board-card .board-card-header,
  .board-header-section .board-info,
  .boards-container .placeholder__boards-_board,
  .boards-container .placeholder__boards-_form,
  .card-form,
  .card-header-section .card-info,
  .cards-container .placeholder__cards-_card,
  .create-card-section .placeholder__cards-_form,
  .edit-card-form,
  .edit-card-section .placeholder__cards-_inline_form,
  .heroku-apps-container .placeholder__applinks-_heroku_form,
  .linked-boards-container .placeholder__boards-_linked_boards,
  .new-board-card .new-board-card-header,
  .new-boards-container .placeholder__boards-_new_boards,
  .no-boards-container .placeholder__boards-_no_boards {
    width: 90%;
    margin-left: 4.99321%;
  }

  .card-form .cancel-create-card,
  .edit-card-form .cancel-update-card {
    width: 22px;
    height: 22px;
    margin-top: 0;
    margin-left: 0;
  }

  .card-form .card-title,
  .edit-card-form .card-title {
    position: relative;
    clear: both;
    width: 99.8406441331%;
    font-size: 1.188em;
    font-weight: 600;
  }

  .card-form .create-card,
  .edit-card-form .update-card {
    float: left;
    width: 99.8406441331%;
  }

  .flash .dismiss {
    margin-top: 8px;
  }

  .flash .message {
    width: 79.648241206%;
    margin-left: 7.0351%;
    font-size: 1.063em;
    line-height: 1.38;
  }

  .flash-container .flash {
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
  }

  .heroku-app-header .heroku-app-title {
    font-size: 1.25em;
  }

  .inline-comment-form .cancel-update-comment {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 66px;
    margin-right: 0;
  }

  .inline-comment-form .update-comment {
    position: relative;
    float: left;
    width: 100%;
    margin-top: -106px;
  }

  .applinks-section .heroku-apps-container,
  .linked-boards-section .boards-container,
  .new-boards-section .boards-container {
    margin-top: 40px;
  }

  .list-title {
    margin-left: 4.99321%;
    font-size: 1.375em;
  }

  .new-board-card-header .board-description {
    font-size: 1.063em;
    line-height: 1.38;
  }

  .applinks-section,
  .linked-boards-section,
  .new-boards-section,
  .no-boards-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .applinks-section .section-title,
  .linked-boards-section .section-title,
  .new-boards-section .section-title,
  .no-boards-section .section-title {
    width: 90%;
    margin-left: 4.99321%;
    font-size: 1.375em;
  }

  .review-app-section {
    padding-top: 14px;
  }

  .review-app-section .copy-view-app-link {
    display: none;
    position: relative;
    margin-top: 62px;
  }

  .review-app-section .open-review-app {
    display: block;
    position: relative;
    clear: none;
    margin-top: 0;
    margin-left: 4.99321%;
  }

  .review-app-section .open-view-app {
    display: none;
    visibility: hidden;
    position: relative;
  }

  .review-app-section .review-app-label {
    display: none;
    visibility: hidden;
    position: relative;
    margin-left: 9.99774%;
  }

  .board-description-container .placeholder__markdown,
  .card-description-container .placeholder__markdown,
  .shipit-form .shipit {
    width: 99.8910857908%;
  }

  .site-header .main-action-container {
    width: 28.7439613526%;
    margin-right: 5.06869%;
  }

  .site-header .placeholder__logo {
    margin-left: 1.98898%;
  }

  .site-header .user-profile {
    float: left;
    margin-right: 0;
    margin-left: 19.39538%;
  }

  .todo-list-section .placeholder__lists-_list {
    width: 79.9969806763%;
    margin-left: 9.99019%;
  }

  .waiting-review-app-section .waiting-review-app-message {
    margin-left: 4.99321%;
    font-size: 1.063em;
    font-weight: 600;
  }
}
