body {
  background-color: rgb(255, 255, 255);
  font: 400 1.75em/1.38 Helvetica;
  color: rgb(87, 185, 164);
}

.email {
  display: block;
  width: 368px;
  height: 58px;
  margin: 0 auto;
  padding: 0 10px;
  border-bottom: 1px solid rgb(87, 185, 164);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(87, 185, 164);
}

.form-fields {
  float: left;
  clear: both;
  width: 100%;
  height: 121px;
  margin-top: 60px;
}

.form-fields .sign-in {
  display: block;
  width: 218px;
  height: 36px;
  margin: 27px auto 0;
  border-radius: 3px;
  background-color: rgb(87, 185, 164);
  font-size: 0.571em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.goto-boards {
  display: inline-block;
  float: left;
  margin-left: 24px;
  font-size: 0.786em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.grettings {
  display: inline-block;
  float: right;
  margin-right: 24px;
  font-size: 0.786em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.info-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 30px;
  margin: auto 0;
}

.slogan {
  float: left;
  width: 96%;
  margin-left: 2%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(87, 185, 164);
}

._container {
  width: 100%;
}

.sign-in-1 {
  float: left;
  clear: both;
  width: 100%;
  height: 257px;
  margin-top: 203px;
}

._container-1 {
  position: relative;
  float: left;
  height: 60px;
  background-color: rgb(87, 185, 164);
}

._container-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
  height: 30px;
  margin: auto 0;
}

.goto-boards strong {
  font-weight: inherit;
}

.grettings strong {
  font-weight: 700;
}

.slogan a {
  font-weight: 700;
  color: inherit;
}

.slogan a:active,
.slogan a:focus,
.slogan a:hover {
  color: inherit;
}