<div class="application-_flashes clearfix">

<div class="flash-container clearfix js-flash-container" data-ux-flash-container>
  <% flash_messages.each do |name, msgs| %>
    <% msgs.each do |msg| %>
    <div class="flash <%= name %> clearfix" data-ux-flash>
      <button class="dismiss" data-ux-flash-dismiss></button>
      <p class="message"><%= msg %></p>
    </div>
    <% end %>
  <% end %>
</div>

</div>
