<header>

  <nav>
    <a href="<%= boards_path %>"><%= t('see_boards') %></a>
  </nav>

  <% if signed_in? %>
    <h1><%= t("greeting", user: current_user.email).html_safe %></h1>
  <% end %>

</header>
