<div class="application-_header clearfix">

<%# clearly this is just a temporary 💩 %>
<div style="position: fixed; top: -1000px; left: -1000px;">
<%= current_user.nickname %>
<%= current_user.email %>
<%= image_tag current_user.avatar_url %>
</div>

</div>
