<div class="application-_header clearfix">

<header class="site-header clearfix" data-ux-header>
  <div class="placeholder__logo"></div>
  <div class="main-action-container clearfix">
    <%= content_for :main_action %>
  </div>
  <div class="user-profile clearfix">
    <div class="avatars-container clearfix">
      <%= render partial: "users/avatar",
                 object: current_user, as: :user,
                 locals: { size: "small" } %>
    </div>
  </div>
</header>

</div>
